html {
    box-sizing: border-box;
    font-size: 10px;
    height: 100%;
    margin: 0; 
    padding: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
}

body {
    display: grid;
    grid-template-areas: 
        'header' 
        'main'
        'main'
        'main';
    height: 100%;
    margin: 0; 
    padding: 0;
}

header {
    background: skyblue;
    border-top: 3rem solid blue;
    grid-area: header;
}

main {
    display: grid;
    grid-area: main;
    grid-template-areas: 
    'content'
    'content'
    'content'
    'signup'
    'feature1'
    'feature2'
    'feature3';
    padding: 0;
}

article {
    background: lightgray;
    grid-area: content;
}

section {
    background: lightcyan;
    grid-area: signup;
}

section:nth-of-type(2) {
    background: gold;
    grid-area: feature1;
}

section:nth-of-type(3) {
    background: lightcoral;
    grid-area: feature2;
}

section:nth-of-type(4) {
    background: blueviolet;
    grid-area: feature3;
}

/** tablet */
@media screen and (min-width: 770px) {
    main {
        grid-template-areas: 
            'content content'
            'content content'
            'content content'
            'signup feature1'
            'feature2 feature3';
    }
}

/** desktop */
@media screen and (min-width: 1024px) {
    main {
        grid-template-areas: 
            'feature1 feature3 feature2'
            'feature1 feature3 feature2'
            'feature1 feature3 feature2'
            'signup signup signup'
            'content content content'
            'content content content'
            'content content content'
    }    
}