html {
    box-sizing: border-box;
    font-size: 10px;
    height: 100%;
    margin: 0; 
    padding: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    padding: 1rem;
}

body, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul {
    border: 0.5rem solid #56626e; 
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

li {
    background: #50a1af;
    border-radius: 0.5rem;
    color: #ffffff;
    font-weight: bold;
    margin: 0.5rem;
    padding: 0.8rem;
}
/** media query between 760px and 1012px for D */